In [1]:
import pandas as pd


data_path = "/home/danial/Data Science/Fraud Detection/Data/raw/creditcard.csv"
df = pd.read_csv(data_path)

df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
# --- Cell 3: Remove duplicate records ---
# Count duplicates
duplicates = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicates}")

Number of duplicate rows: 1081

In [8]:
duplicates = df[df.duplicated(keep=False)]

# Separate duplicated rows by class
fraud_duplicates = duplicates[duplicates['Class'] == 1]
normal_duplicates = duplicates[duplicates['Class'] == 0]

# Remove only duplicated rows of normal transactions
# Keep duplicated fraud transactions to avoid losing rare fraud examples
df_cleaned = pd.concat([
    df.drop(normal_duplicates.index),
    fraud_duplicates
])

print("Original shape:", df.shape)
print("Cleaned shape:", df_cleaned.shape)
print("Fraud duplicates kept:", fraud_duplicates.shape[0])
print("Normal duplicates removed:", normal_duplicates.shape[0])

Original shape: (284807, 31)
Cleaned shape: (283017, 31)
Fraud duplicates kept: 32
Normal duplicates removed: 1822

In [5]:
# --- Cell 4: Check for inconsistent or incorrect values ---
# Check for impossible values (example: negative Amounts or Time)
print("Negative Amount values:", (df_cleaned['Amount'] < 0).sum())
print("Negative Time values:", (df_cleaned['Time'] < 0).sum())

Negative Amount values: 0
Negative Time values: 0

In [9]:
# --- Cell 7: Final check and save cleaned data ---
print(df_cleaned.info())
print(df_cleaned.describe())

# Save cleaned data for the next step
df_cleaned.to_csv("/home/danial/Data Science/Fraud Detection/Data/cleaned/creditcard_cleaned.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 283017 entries, 0 to 234633
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    283017 non-null  float64
 1   V1      283017 non-null  float64
 2   V2      283017 non-null  float64
 3   V3      283017 non-null  float64
 4   V4      283017 non-null  float64
 5   V5      283017 non-null  float64
 6   V6      283017 non-null  float64
 7   V7      283017 non-null  float64
 8   V8      283017 non-null  float64
 9   V9      283017 non-null  float64
 10  V10     283017 non-null  float64
 11  V11     283017 non-null  float64
 12  V12     283017 non-null  float64
 13  V13     283017 non-null  float64
 14  V14     283017 non-null  float64
 15  V15     283017 non-null  float64
 16  V16     283017 non-null  float64
 17  V17     283017 non-null  float64
 18  V18     283017 non-null  float64
 19  V19     283017 non-null  float64
 20  V20     283017 non-null  float64
 21  V21     283017 non-null  float64
 22  V22     283017 non-null  float64
 23  V23     283017 non-null  float64
 24  V24     283017 non-null  float64
 25  V25     283017 non-null  float64
 26  V26     283017 non-null  float64
 27  V27     283017 non-null  float64
 28  V28     283017 non-null  float64
 29  Amount  283017 non-null  float64
 30  Class   283017 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 69.1 MB
None
                Time             V1             V2             V3  \
count  283017.000000  283017.000000  283017.000000  283017.000000
mean    94815.217906       0.007795      -0.005001      -0.000307
std     47475.062312       1.950450       1.649514       1.523176
min         0.000000     -56.407510     -72.715728     -48.325589
25%     54221.000000      -0.913468      -0.601520      -0.889880
50%     84711.000000       0.021834       0.063162       0.179930
75%    139289.000000       1.316401       0.798317       1.026919
max    172792.000000       2.454930      22.057729       9.382558

                  V4             V5             V6             V7  \
count  283017.000000  283017.000000  283017.000000  283017.000000
mean       -0.003200       0.001555      -0.002022      -0.000167
std         1.416938       1.381974       1.333048       1.247208
min        -5.683171    -113.743307     -26.160506     -43.557242
25%        -0.850896      -0.688911      -0.769761      -0.551943
50%        -0.023234      -0.052977      -0.276040       0.041177
75%         0.738173       0.612593       0.395175       0.570539
max        16.875344      34.801666      73.301626     120.589494

                  V8             V9  ...            V21            V22  \
count  283017.000000  283017.000000  ...  283017.000000  283017.000000
mean       -0.003225      -0.003593  ...       0.000882      -0.000095
std         1.201633       1.096386  ...       0.744373       0.726721
min       -73.216718     -13.434066  ...     -34.830382     -10.933144
25%        -0.209054      -0.645622  ...      -0.228220      -0.542743
50%         0.021582      -0.053020  ...      -0.029280       0.007022
75%         0.324454       0.594769  ...       0.186329       0.528393
max        20.007208      15.594995  ...      27.202839      10.503090

                 V23            V24            V25            V26  \
count  283017.000000  283017.000000  283017.000000  283017.000000
mean        0.000533       0.000368      -0.000327       0.000355
std         0.624046       0.605567       0.521198       0.481927
min       -44.807735      -2.836627     -10.295397      -2.604551
25%        -0.161674      -0.354456      -0.317642      -0.326542
50%        -0.011178       0.041074       0.016208      -0.052124
75%         0.147776       0.439853       0.350653       0.239924
max        22.528412       4.584549       7.519589       3.517346

                 V27            V28         Amount          Class
count  283017.000000  283017.000000  283017.000000  283017.000000
mean        0.002653       0.000735      88.536410       0.001851
std         0.393525       0.327388     250.548701       0.042989
min       -22.565679     -15.430084       0.000000       0.000000
25%        -0.070468      -0.052751       5.570000       0.000000
50%         0.001567       0.011312      22.000000       0.000000
75%         0.091361       0.078294      77.720000       0.000000
max        31.612198      33.847808   25691.160000       1.000000

[8 rows x 31 columns]